html {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}


#navbar{
    height: 10vh;
    background-color: #1F5F8B;
}

li a {
    color: white    !important;
}

li a:hover {
    color: #1891AC  !important;
}

.active {
    background-color: #253B6E;
    border-radius: 5%;
}

.active:hover {
    background-color: #1D2E55;
}

.nav-link {
    padding: 0rem 1rem;
}

#pic {
    height: 40vh;
}

.top {
    height: 20vh;
    background-color: #1F5F8B;
}
  
.bottom {
    height: 20vh;
    background-color: #ffffff;
    text-align: center;
}
  
#pic img {
    width: 200px;
    height: 220px;
    border-radius: 50%;
    position: relative;
    top: -20vh;
}

h2 {
    color: #253B6E;
}

#intro-text {
    background-color: white;
    height: 50vh;
}


#works {
    color: #253B6E;
}

#view {
    background-color: #253B6E;
    border-color: #253B6E;
    color: white;
    padding: 0rem 1rem;
    border-radius: 5%;
}

#view:hover {
    color: #1891AC;
    background-color: #1D2E55;
}

#spotcheck, #we {
    width: 350px;
}

footer {
    background-color: #1F5F8B;
}

.fa, .fab, .fas {
     color: #ffffff;
 }

.hover:hover {
     color: #1891AC;
 }